.menu {
    display: flex;
}
.menu-nav {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    // max-width: 678px;
}
// .link-orange {
//     position: relative;
//     &::after {
//         position: absolute;
//         content: '';
//         width: 8px;
//         height: 6px;
//         top: 8px;
//         right: -18px;
//         background-image: url('public/img/arrow-up.svg');
//         background-repeat: no-repeat;
//         background-position: center;
//     }
// }

.menu__button {
    // border: 1px solid red;
    position: relative;
    // width: max-content;
    // width: 22px;
    // height: 22px;
    top: -8px;
    left: -20px;
    &--line {
        position: absolute;
        width: 22px;
        height: 2px;
        background-color: @color-orange;
        &:nth-child(1) {
            transform: translateY(0px);
        }
        &:nth-child(2) {
            transform: translateY(10px);
        }
        &:nth-child(3) {
            transform: translateY(20px);
        }
    }
}
.menu__button-triangle {
    position: relative;
    top: -3px;
    right: -3px;
    rotate: 180deg;
    &:hover {
        rotate: 0deg;
    }
}

.menu-nav__child {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    top: 80px;
    margin-left: -15px;
    background-color: @color-grey;
    font-size: 16px;
    line-height: 24px;
    border-radius: 0px 0px 10px 10px;
    & li {
        padding: 8px 8px 8px 18px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
        &:last-child {
            border-bottom: none;
            border-radius: 0px 0px 10px 10px;
        }
        &:hover {
            background-color: @color-black;
        }
    }
}
.menu-nav__child--decor {
    position: relative;
    &::before, &::after {
        position: absolute;
        content: '';
        top: -26px;
        left: 47px;
        border: 12px solid transparent; 
        border-bottom: 14px solid @color-grey; 
    }
    &:hover::before, &:hover::after {
        border-bottom: 14px solid @color-black;
    }
}