@import 'normalize.css';
@import 'menu.less';

@color-black: #131417;
@color-white: #FAFAFA;
@color-grey: #252830;
@color-red: #EB5757;
@color-orange: #F2994A;

@tablet-width: 769px;
@mobile-width: 376px;

a {
    color: @color-white;
    text-decoration: none;
    &:hover {
        color: @color-red;
    }
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;    
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    & li {
        padding: 0;
        margin: 0;
    }
}
header {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    background-image: url('/img/alpaca.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    @media (max-width: @tablet-width) {
        width: @tablet-width;
        background:
		linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url('/img/alpaca.png');
        height: max-content;
    }
    @media (max-width: @mobile-width) {
        width: @mobile-width;
        background:
		linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url('/img/alpaca.png');
    }
}
.header {
    height: 80px;
    width: 100%;
    background-color: @color-black;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(19, 20, 23, 0.4);
}
.header__block {
    max-width: 1196px;
    display: grid;
    grid-template-columns: 46px 1fr 190px;
    margin: 0 auto;
    padding-top: 17px;
    align-items: center;
    grid-template-areas: "logo menu tel";
    & div {
        margin: 0 auto;
    }
    @media (max-width: @tablet-width) {
        max-width: @tablet-width;
        grid-template-columns: 46px 1fr 22px;
        grid-template-areas: "logo tel menu";
        align-items: start;
        @media (max-width: @mobile-width) {
            max-width: 100vw;
        }
    }
    
}
.header__logo {
    grid-area: logo;
}
.header__menu {
    grid-area: menu;
}
.header__tel {
    grid-area: tel;
    & img {
        padding-right: 8px;
    }
}
@media (max-width: @tablet-width) {
    .header__logo {
        padding-left: 10px;
    }
    .header__menu {
        grid-area: menu;
        padding-top: 18px;
    }
    .header__tel {
        padding-top: 10px;
    }
}
@media (max-width: @mobile-width) {
    .tel {
        padding-top: 10px;
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;    
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    .header__logo {
        padding-left: 10px;
    }
    .header__tel {
        padding-top: 12px;
        padding-left: 170px;
    }
}
